<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2>{{formType}}</h2>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="well">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" 
            required 
            email 
            name="email" 
            ngModel
            #email="ngModel">
          <span class="help-block red" 
            *ngIf="!email.valid && email.touched">
            Please Enter a valid email.
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" 
            required 
            type="password" 
            name="password" 
            ngModel
            #password="ngModel">
            <span class="help-block red" *ngIf="!password.valid && password.touched">
              Please Enter a valid email.
            </span>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" 
          type="submit"
          [@buttonState]="f.valid ? 'valid' : 'invalid'" 
          [disabled]="!f.form.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>