<div class="movieCard">
  <h4 class="movieTitle">
    {{movie.title}}
  </h4>
  <img 
    *ngIf="movie && movie.poster_path"
    src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
    alt="" 
    class="thumbnail movieImage"
  >
  <img *ngIf="!movie || !movie.poster_path"
    class="thumbnail movieImage"
    src="../../../../assets/noFilm.png"
  >
  <div class="movieInfoGroup">
    <div class="movieBtnGroup">
      <button 
       *ngIf="!heart"
        class="btn btn-secondary pull-right"
        (click)="addToFavorites(movie.id)"
         [disabled]="disabled">
        <i class="fa fa-heart redHeart"></i>
      </button>

      <button *ngIf="heart"
        class="btn btn-secondary pull-right"
        (click)="deleteFromFavorites(movie)"
        [disabled]="disabled">
        <i  class="fa fa-trash blackTrash"></i>
      </button>

      <button class="btn btn-primary pull-right"
        (click)="movieDetails(movie)">
        View
      </button>
    </div>
  </div>
</div>