<div class="movieCard hidden-xs">
  <h4 class="movieTitle">
    {{movie.title}}
  </h4>
  <img 
    *ngIf="movie && movie.poster_path"
    src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
    alt="" 
    class="thumbnail hidden-xs movieImage"
  >
  <img *ngIf="!movie || !movie.poster_path"
    class="thumbnail hidden-xs movieImage"
    src="../../../../assets/noFilm.png"
  >
  <div class="movieInfoGroup">
    <div class="movieBtnGroup">
      <button class="btn btn-secondary pull-right"
        (click)="addToFavorites(movie.id)"
      >
        <i *ngIf="!heart" class="fa fa-heart redHeart">
        </i>
        <i *ngIf="heart" class="fa fa-trash blackTrash"></i>
      </button>
      <button class="btn btn-primary pull-right"
        (click)="movieDetails(movie)"
      >
        View
      </button>
    </div>
  </div>
</div>