<div class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button class="close"
        type="button"
        data-dismiss="modal">
        <span>&times;</span>
      </button>
      <h4 class="modal-title">
        Find Other Users Movies
      </h4>
    </div>

    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item"></li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="btn btn-danger"
        data-dismiss="modal"
        (click)="closeModal()">
        Close
      </button>
    </div>

  </div>
</div>