<!-- SPINNER -->
<div class="row" *ngIf="spinner">
  <div id="spinnerContainer">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw fa-5x" aria-hidden="true"></i>
  </div>
</div>
<div class="container" *ngIf="movie">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center hidden-xs">
            <strong>{{movie.title}}</strong>
          </h2>
          <h4 class="text-center hidden-sm hidden-md hidden-lg">
            <strong>{{movie.title}}</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive img-rounded"
            src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
            alt="movie poster"
            *ngIf="movie.poster_path"
          >
          <img class="img-responsive img-rounded"
             src="../../assets/noFilm.png" 
             alt="movie poster" 
             *ngIf="!movie.poster_path"
          >
        </div>

        <div class="col-xs-12 col-md-6">
          <ul class="list-group">
            <li class="list-group-item"
              *ngIf="movie.original_title">
              <strong>Original Title: </strong><br>
              <br>
              {{movie.original_title}}
            </li>

            <li class="list-group-item"
              *ngIf="movie.release_date">
              <strong>Release Date: </strong><br>
              <br>
              {{movie.release_date}}
            </li>

            <li class="list-group-item" *ngIf="movie.vote_average">
              <strong>Rating: </strong><br>
              <br>
              {{movie.vote_average}}
            </li>

            <li class="list-group-item" 
            *ngIf="movie.genres && movie.genres.length > 1">
              <strong>Genres: </strong>
              <br><br>
              <div *ngFor="let genre of movie.genres"> 
                {{genre.name}}
              </div>
            </li>

            <li class="list-group-item" *ngIf="movie.production_companies && movie.production_companies.length === 1">
              <strong>Production Company: </strong>
              <br><br>
              <div *ngFor="let company of movie.production_companies">
                
                {{company.name}}
              </div>
            </li>

            <li class="list-group-item"
              *ngIf="movie.production_companies && movie.production_companies.length > 1">
              <strong>Production Companies: </strong>
              <br><br>
              <div *ngFor="let company of movie.production_companies">
                {{company.name}}
              </div>
            </li>

           

            <li class="list-group-item"
              *ngIf="movie.overview">
              <strong>Description: </strong><br>
              <br>
              {{movie.overview}}
            </li>

            <li class="list-group-item"
              *ngIf="movie.homepage">
              <strong>Home Page: </strong><br>
              <br>
              <a href={{movie.homepage}} target="_blank">
                {{movie.homepage}}
              </a>
            </li>

            <div>
              <br><br>
              <button class="btn btn-primary"
                (click)="onNavigate('search')">
                Go Back
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>