<div class="container">
  <h1 style="margin-bottom:25px">Dashboard</h1>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Search for Movies</h3>
        </div>
        <div class="panel-body">
          <p>Search the ____ api for movies to add to your favorites collection.</p>
          <button class="btn btn-primary">Search</button>
  
        </div>
      </div>
    </div>
  
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">View Your Favorites</h3>
        </div>
        <div class="panel-body">
          <p>Look through your list of favorites movies to help you decide what to watch tonight.</p>
          <button class="btn btn-primary">Favorites</button>
        </div>
      </div>
    </div>
  
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Search other Users Favorites</h3>
        </div>
        <div class="panel-body">
          <p>See what other users like to help you build a more diverse list of movies.</p>
          <button class="btn btn-primary">Others Favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>

