<div class="container">
  <h1 style="margin-bottom:25px">Dashboard</h1>
  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Search for Movies</h3>
        </div>
        <div class="panel-body"
           [@hoverPanel]="hoverPanelState1" 
           (mouseenter)="updateHover('1', 'hover')" 
           (mouseleave)="updateHover('1', 'default')">
          <p>Search the ____ api for movies to add to your favorites collection.</p>
          <a class="btn btn-primary"
            href="#"
            (click)="onNavigate('search', $event)"
            type="button"
          >
            Search
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">View Your Favorites</h3>
        </div>
        <div class="panel-body"
           [@hoverPanel]="hoverPanelState2" 
           (mouseenter)="updateHover('2', 'hover')" 
           (mouseleave)="updateHover('2', 'default')">
          <p>Look through your list of favorites movies to help you decide what to watch tonight.</p>
          <a class="btn btn-primary"
           href="#"
            type="button"
             (click)="onNavigate('favorites', $event)">
            Favorites
          </a>
        </div>
      </div>
    </div>
  
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Search other Users Favorites</h3>
        </div>
        <div class="panel-body"
         [@hoverPanel]="hoverPanelState3" 
         (mouseenter)="updateHover('3', 'hover')" 
         (mouseleave)="updateHover('3', 'default')"
        >
          <p>See what other users like to help you build a more diverse list of movies.</p>
          <a type="button" class="btn btn-primary"
             (click)="onSearchUsersMovies()">
            Others Favorites
          </a>
        </div>
      </div>
    </div>
  </div>


  <app-modal 
    [showModal]="showModal" 
    (onHideModal)="onHideModal()">
  </app-modal>


</div>



