<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 id="title">Search for Movies to add to your Favorites.</h3>
      <app-search-box 
        placeholder="Search the database..." buttonText="Search" 
        [showButton]="true"
        (onSearchDatabase)="searchDatabase($event)">
      </app-search-box>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"
      *ngFor="let movie of movies">
      <app-card
        [movie]="movie"
      >
      </app-card>
    </div>
  </div>
  
</div>
