<!-- SPINNER -->
<div class="row"
  *ngIf="spinner">
    <div id="spinnerContainer">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw fa-5x" aria-hidden="true"></i> 
    </div>
</div>
<!-- NO FAVORITES -->
<div class="row"
  *ngIf="favorites && favorites.length < 1">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="col-xs-12 col-sm-6">
      <h3 id="noFavoritesText">You don't have any favorites yet...</h3>
      <h4>
        <a routerLink="/search">Get started now!</a>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img 
      id="filmAction"
      src="../../../assets/filmAction.png" 
        class="img-responsive">
    </div>
  </div>
</div>

<!-- SEARCH BOX -->
<div class="container"
   *ngIf="favorites && favorites.length > 1 ">
  <div class="row searchContainer">
    <div class="col-xs-12">
      <h3 id="title">
        Search for Movies to add to your Favorites.
      </h3>
      <app-search-box 
        parent="favorites"
        placeholder="Filter your List..."        
        (onFilterText)="onFilterText($event)">
        <app-search-button buttonText="Search Other's List" 
          (onSearchUsersMovies)="onSearchUsersMovies()">
        </app-search-button>
      </app-search-box>
     
    </div>
  </div>

<!-- HAVE FAVORITES -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3"
    *ngFor="let movie of (favorites | filterList:filterListBy)">
    <app-card 
      [movie]="movie"
      [heart]="heart"
      (onDeleteFromFavorites)="onDeleteFromFavorites($event)"
      (onGetMovieDetails)="getMovieDetails($event)">
    </app-card>
  </div>
</div>

<app-modal 
  [showModal]="showModal"
  (onHideModal)="onHideModal()"
>
</app-modal>